---
layout: splash
header:
  overlay_image: "assets/images/front/tootouch_winter.jpeg"
  actions:
    - label: "About Me"
      url: "/about/"
    - label: "Research Interests"
      url: "https://www.notion.so/tootouch/TooTouch-s-Research-Roadmap-96e13030376a491d9a5f031868c4618f"
excerpt: Save my earth
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


